<form>
  <label for="price">価格</label>
  <input type="number" id="price" name="price">

  <p id="sales_fee">0</p>
  <p id="profit">0</p>
</form>

<input id="price-input" type="number" name="item[price]">

<div>
  <label for="add-tax-price">販売手数料</label>
  <span id="add-tax-price">-</span>
</div>
<div>
  <label for="profit">販売利益</label>
  <span id="profit">-</span>
</div>